# TikTok API Credentials
# Get these from: https://developers.tiktok.com/

TIKTOK_CLIENT_KEY=your_client_key_here
TIKTOK_CLIENT_SECRET=your_client_secret_here
TIKTOK_ACCESS_TOKEN=your_access_token_here
TIKTOK_REFRESH_TOKEN=your_refresh_token_here

# YouTube Data API v3 (for System 2 - yt_analyzer)
# Get from: https://console.cloud.google.com/

YOUTUBE_API_KEY=your_youtube_api_key_here
